__pycache__/
*.py[cod]
*.pyo
*.pyd
.cache/

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# IDE / editor settings
.vscode/
.idea/

# Jupyter/IPython
.ipynb_checkpoints/

# Data & generated artifacts
*.csv
*.tsv
*.log

# utility modules/scripts
multiIndex.py

research_papers/
tests/test_results
learning_journal/
dev_journal.ipynb
diagrams/
requirements.txt